{% assign fourdays_ago = "now" | date: "%s" | minus: 345600 %}

<ul>
  {% for post in site.posts %}

  {% assign post_time = post.date | date: "%s" | plus: 0 %}

  {% if post.category == include.category %}
  <!-- normal posts -->
  <li>
    {% if post_time > fourdays_ago %}<b>[new!]</b>{% endif %} <!-- show new tag in normal list -->
    {{ post.date | date: site.theme_config.date_format }} <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>  <sub><a href="{{ post.url | relative_url }}#disqus_thread">[]</a></sub>
  </li>
  {% elsif include.recent and post_time > fourdays_ago %}
  <!-- recent posts -->
  <li>
    {{ post.date | date: site.theme_config.date_format }} <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>  <sub><a href="{{ post.url | relative_url }}#disqus_thread">[]</a></sub>
  </li>
  {% endif %} <!-- end for category check -->

  {% endfor %}
</ul>
