// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background-color: white; }

html { height: 100%; }

// Handling monospace font size in browsers is fundamentally broken.  A hacky solution is applied to
// prevent browsers from reducing the monospace font size arbitrarily.
// see: http://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/
body {
  color: black;
  font-family: sans-serif, sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
}

h2, h3, h4, h5 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background-color: yellow; }

.w {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

/* big screen desktop */
@media only screen
and (min-width : 1224px) {
  .w { max-width: 966px; }
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '<><><><><> 🐪' }
  &:after { content: attr(data-content) ' <><><><><>' }
}

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.2rem;
}

table {
  width: 100%;
}

th {
  height: 50px;
}

code {
  font-family: $monospace;
  color: rgb(66, 73, 73);
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

div.hidden {
  display: none;
}

.selected {
  font-style: italic;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
