// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
    filter: invert(1);
    img {
        filter: invert(1);

        &.ioda { filter: invert(0); }
    }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
    body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body {
    background-color: white;
    color: black;
    font-size: 18px;
}

html { height: 100%; }

header { text-align: center; }

.banner {
    display: flex;
    justify-content: center;
}

.banner-link {
    .banner-item {
        display: inline;
        padding: 0.3em;
        margin: 0.3em;
    }
}

body {
    font-family: sans-serif, sans-serif;
    line-height: 1.4;
    margin: 0.3em;
    min-height: 100%;
}

h2, h3, h4, h5 { margin-top: 3em; }

hr { margin: 2em 0; }

p { margin: 1em 0; }

li { margin: 0.4em 0; }

a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
    &:visited { color: blueviolet; }
}

*:target { background-color: yellow; }

.w {
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5em;
}

/* big screen desktop */
@media only screen
and (min-width : 1224px) {
    .w { max-width: 966px; }
}

hr {
    text-align: center;
    border: none;
    border-top: 3px double #4f4f4f;
    color: #4f4f4f;
    overflow: visible;
    height: 5px;
    &:after {
        content: '🐪';
        padding: 0 4px;
        position: relative;
        top: -13px;
    }
}

table, th, td {
    border: thin solid #4f4f4f;
    border-collapse: collapse;
    padding: 0.2em;
}

table {
    width: 100%;
}

th {
    height: 50px;
}

code {
    font-family: $monospace;
    font-size: 0.9em;
    color: #4f4f4f;
}

div.highlighter-rouge code {
    background-color: #eef;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    margin: 1em;
}

div.hidden {
    display: none;
}

.selected {
    font-style: italic;
}

blockquote {
    font-style: italic;
    color: #4f4f4f;
    padding: 0.3em;
    font-size: 0.9em;
    p { margin: 0.1em; }
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.post-list li {
    list-style: none;
}

.post-date {
    display: inline;
    font-size: 0.9em;
    color: #4f4f4f;
}

.post-link {
    display: inline;
}

.post-label {
    display: inline;
    b {
        font-size: 0.9em;
        margin: 0.2em;
        vertical-align: sub;
    }
}

.post-date::after {
    content: ' | ';
    margin-left: 0.5em;
    margin-right: 0.5em;
}

footer {
    text-align: center;
}

footer a {
    margin-left: 0.3em;
    margin-right: 0.3em;
}
