---
---

$sans-serif: 'Noto Sans KR';
$monospace: 'Roboto Mono';

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Mono);
@import "no-style-please";


.highlight {
  font-family: $monospace;
}

.language-plaintext {
  font-family: $monospace;
}
