---
layout: default
---
<header>
  <div class="top">
    <h1>{{ site.title }}</h1>
  </div>

  <hr />

  <div class="banner">
    <p>{{ site.description }}</p>

    <ul class="banner-link">
      <li class="banner-item"><a href="/about">About</a></li>
      <li class="banner-item"><a href="/archive">Archive</a></li>
    </ul>
  </div>
</header>

<hr />
<ul class="post-list">
  {% for post in site.posts %}
  {% assign post_date = post.date | date: site.theme_config.date_format %}
  {% assign last_update = post.last_update | date: site.theme_config.date_format %}
  <li>
    <div class="post-item" data-post-date="{{ post_date }}" data-last-update="{{ last_update }}">
      <div class="post-date">{{ post_date }}</div>
      <div class="post-link"><a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a></div>
      <div class="post-label" />
    </div>
  </li>

  {% endfor %}
</ul>

<hr />

<script type="text/javascript">
  let posts = document.getElementsByClassName("post-item");
  const today = moment();
  const weekago = moment().subtract(7, 'd');

  function update_label(date, text){
    for (let post of posts) {
      let pdate = moment(post.dataset[date]);
      console.log(pdate);
      if (pdate.isBetween(weekago, today)) {
        let new_tag = post.getElementsByClassName("post-label")[0];
        const b = document.createElement("b");
        const new_text = document.createTextNode(`[${text}!]`);
        b.appendChild(new_text);
        new_tag.appendChild(b);
      }
    }
  }

  update_label("postDate", "new");
  update_label("lastUpdate", "revised");
</script>
