---
layout: default
---

<a href="{{ site.url }}">{{ site.theme_config.back_home_text }}</a>
<center>
<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>
</center>

<div class="post-edit-date">
  {% if page.last_update %}
  <div class="post-date">(First release)  </div>
  {% endif %}
  {{ page.date | date: "%F" }}
</div>

<div class="post-edit-date">
  {% if page.last_update %}
  <div class="post-date">(Last update) </div>
  {% endif %}
  {{ page.last_update | date: "%F %R" }}
</div>

<em><p align="right">
{% if page.tags.size > 0 %}
태그:
{% for tag in page.tags %}

{% if site.data.tags contains tag %}
<a href="/archive?tag={{ tag }}"><span class="tag">{{ tag }}</span></a>
{% endif %}

{% endfor %}
{% endif %}
</p></em>


{{ content }}

<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<br />

<div>
  <script src="https://giscus.app/client.js"
          data-repo="sangwoo-joh/reactions"
          data-repo-id="R_kgDOJFNVQw"
          data-category="Comments"
          data-category-id="DIC_kwDOJFNVQ84CUox9"
          data-mapping="pathname"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light_high_contrast"
          data-lang="ko"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</div>

<br />
