---
layout: default
---

<a href="{{ site.url }}">{{ site.theme_config.back_home_text }}</a>
<center>
<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>
</center>
<em><p align="right">{{ page.date | date: "%F" }}</p></em>
<hr />

{{ content }}

<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!-- <hr /> -->
<!-- {% include disqus.html %} -->

<center>
  <!-- LikeBtn.com BEGIN -->
  <span class="likebtn-wrapper" data-theme="review" data-ef_voting="bounce" data-dislike_enabled="false" data-icon_dislike_show="false" data-counter_clickable="true" data-counter_frmt="comma" data-lazy_load="true" data-loader_show="true"></span>
  <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
  <!-- LikeBtn.com END -->
</center>
